body {
  font-family: Arial, sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
}

h1 {
  color: #333;
  text-align: center;
}

.section {
  background-color: white;
  min-width: 500px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

h2 {
  color: #333;
  margin-top: 0;
  border-bottom: 2px solid #dddcdc;
  padding-bottom: 10px;
}

.image-list {
  margin: 10px 0;
}

.image-item {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.image-preview {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border-radius: 5px;
  object-fit: cover;
}

.image-info {
  flex: 1;
  align-items: center; /* Vertically center the icon */
}

.person-name {
  width: 200px;
  padding: 10px;
  margin-bottom: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
}
.control-btn {
    background-color: #ff4444;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    align-items: center; /* Vertically center the icon */
    cursor: pointer;
    margin-left: 15px;
}

.control-btn:hover {
  background-color: #cc0000;
}

.upload-btn {
  background-color: #2196F3;
  color: white;
  border: none;
  font-size: 16px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  border-radius: 6px;
}

.upload-btn:hover {
  background-color: #0f8bf0;
}

.file-input {
  display: none;
}

.empty-state {
  text-align: center;
  color: #666;
  padding: 30px;
  font-size: 16px;
}

.name-validation-error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}